.page {
  display: grid;
  justify-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--theme-main-color);
  font-family: var(--main-font, Inter), Arial, Helvetica, sans-serif;
  background-color: var(--background-color, #fff);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--normal-weight, 400);
}

.header {
  display: grid;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  place-content: end center;
  inline-size: var(--content-inline-size);
  block-size: clamp(
    20.4375rem,
    19.5352rem + 3.8498vw,
    23rem
  ); /* от 327px при 375 до 368px при 1440  */
  margin-block: 100px;
  border: 2px solid var(--theme-main-color, #000);
  font-family: var(--accent-font, 'Press Start 2P'), Georgia, 'Times New Roman',
    Times, serif;
  text-transform: uppercase;
  background-color: var(--background-color, #fff);
}

.header__logo {
  font-weight: var(--normal-weight);
  font-size: clamp(
    3.0625rem,
    2.7104rem + 1.5023vw,
    4.0625rem
  ); /* от 49px до 65px при 1440 */
}

.header__title {
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
  font-weight: var(--normal-weight);
  font-size: clamp(
    0.875rem,
    0.6769rem + 0.8451vw,
    1.4375rem
  ); /* от 14px до 23px */
}

.theme-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin: 25px 0 25px 20px;
}

.theme-menu__item {
  font-size: var(--button-font-size);
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.theme-menu__button[disabled] {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button[disabled]::before {
  content: '▶';
  position: absolute;
  -webkit-animation: shift 0.5s infinite ease-in-out alternate;
          animation: shift 0.5s infinite ease-in-out alternate;
  inset-inline-start: -19px;
}

.theme-menu__button:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--theme-main-color);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.card {
  inline-size: var(--content-inline-size);
  border: 2px solid var(--theme-main-color, #000);
  font-size: var(--content-font-size);
  background-color: var(--background-color, #fff);
}

.card__title {
  margin: 5px 10px 4px;
  font-size: inherit;
  line-height: 1.2; /* для соответствия макету */
  font-variation-settings: 'wght' var(--bold-weight, 700);
}

.card__image-container {
  position: relative;
  border-block: 2px solid var(--theme-main-color, #000);
}

.label-image {
  content: '';
  position: absolute;
  top: 25px;
  right: 11px;
  z-index: 1;
  opacity: 0.5;
  color: var(--theme-main-color);
  font-family: var(--accent-font, 'Press Start 2P'), Georgia, 'Times New Roman',
    Times, serif;
  font-weight: 400;
  font-size: var(
    --content-font-size
  ); /* Задал шрифт больше макета для лучшей читаемости */
  text-transform: uppercase;
  text-shadow:
    -1px -1px var(--background-color),
    -1px 1px var(--background-color),
    1px -1px var(--background-color),
    1px 1px var(--background-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .label-image {
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--background-color);
    text-stroke: 0.5px var(--background-color);
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
  margin: 21px 25px 25px;
  font-size: inherit;
  line-height: var(--extra-line-height);
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin: 0 25px 25px;
  font-size: var(--button-font-size);
}

.card__icon-button {
  height: 38px; /* для соответствия outline при focus-visible высоте кнопки Like */
  border: 2px solid transparent;
  background-color: transparent;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--theme-main-color);
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.like-icon {
  display: inline-block;
  width: 39px;
  height: 36px;
}

.card__like-button {
  position: relative;
  min-inline-size: 130px;
  border: 2px solid var(--theme-main-color, #000);
  padding: 11px 17px 6px;
  background-color: var(--background-color);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  cursor: pointer;
}

.card__like-button:focus-visible {
  -webkit-box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
          box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  -webkit-margin-before: 1px;
          margin-block-start: 1px;
  color: var(--accent-button-color);
  font-family: var(--accent-font, 'Press Start 2P'), Georgia, 'Times New Roman',
    Times, serif;
  font-size: var(--button-font-size);
  line-height: 0.9;
  mix-blend-mode: difference;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-block: 50px 100px;
}

.footer__save-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  max-inline-size: 339px;
  border: 2px solid var(--theme-main-color, #000);
  padding: 15px 20px;
  background-color: var(--background-color);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  cursor: pointer;
}

.footer__save-button:focus-visible {
  -webkit-box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
          box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.save-icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 21px;
  height: 21px;
  fill: var(--accent-button-color);
  mix-blend-mode: difference;
}

.dialog_popup {
  max-width: 357px;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  border: 2px solid var(--theme-main-color, #000);
  padding: 30px;
  background-color: var(--background-color);
}

.dialog_popup::-ms-backdrop {
  background: rgb(0 0 0 / 0.75);
}

.dialog_popup::backdrop {
  background: rgb(0 0 0 / 0.75);
}

/* .dialog_popup:not([open]) {
  display: flex;
  flex-direction: column;
  gap: 28px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
} */

.dialog_popup[open] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  /* opacity: 1;
  transition: opacity 0.3s ease-in-out; */
}

.popup__container {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.dialog-icon {
  display: inline-block;
  inline-size: 39px;
  block-size: 38px;
  fill: var(--accent-button-color);
  mix-blend-mode: difference;
}

.dialog_close-button {
  position: relative;
  inline-size: 100%;
  border: 2px solid var(--theme-main-color, #000);
  padding: 11px 17px 6px;
  font-size: var(--button-font-size);
  background-color: var(--background-color);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  cursor: pointer;
}

.dialog_close-button:focus-visible {
  -webkit-box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
          box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.text-uppercase {
  text-transform: uppercase;
}

.line-height-extended {
  line-height: 1.5;
}

.filter-brightness {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.filter-sepia {
  -webkit-filter: sepia(0.6);
          filter: sepia(0.6);
}

.filter-saturate {
  -webkit-filter: saturate(0.5);
          filter: saturate(0.5);
}

.filter-hue-rotate {
  -webkit-filter: hue-rotate(45deg);
          filter: hue-rotate(45deg);
}

.filter-contrast {
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}

.filter-invert {
  -webkit-filter: invert(1) brightness(0.7);
          filter: invert(1) brightness(0.7);
}

.filter-contrast-blur {
  -webkit-filter: contrast(0.5) blur(3px);
          filter: contrast(0.5) blur(3px);
}

.filter-contrast-drop-shadow {
  -webkit-filter: contrast(1.5) drop-shadow(0 9px 8px black);
          filter: contrast(1.5) drop-shadow(0 9px 8px black);
}

@media (width <= 375px) {
  .header__logo {
    font-size: clamp(2.625rem, -0.5833rem + 15.5556vw, 3.0625rem);
  }

  .footer__save-button {
    max-inline-size: 310px;
  }

  .save-icon {
    inline-size: 29px;
    block-size: 28px;
  }

  .dialog_popup {
    max-inline-size: 341px;
    padding-inline: 40px;
  }
}
